/*

MAIN COLORS

green = #66932C
dark beige = #D2D5AA
light beige = #EFEFE8
deep brown = #2E2F25

OTHER COLORS POSSIBLY

whiteish = #F8F8F8
deeper green = #3D581A

FONTS

heading = 'Diavlo'
text = 'Source Sans Pro'

*/

@font-face {
    font-family: 'Diavlo';
    src: url('../fonts/Diavlo.otf');
}

/* SETTINGS FOR ALL CONTENT */

body {
  background-color: #EFEFE8;
}

body a {
    color: #66932C;
}

.container {
  padding: 0px;
  margin: 0px;
  font-family: 'Source Sans Pro', sans-serif; 
  font-size: 16px;
  color: #2E2F25;
  width: 100%;
}

.inner-content {
  padding: 20px;
}

h1, h2, h3 {
    font-family: 'Diavlo', sans-serif;
}

/* NAVBAR */

.navbar {
    margin-bottom: 0;
    padding: 10px;
}

/* Center Brand */
.my-nav .navbar-brand {
  background: url(../images/lettuce-header.png) center / contain no-repeat;
  width: 500px;
  transform: translateX(-50%);
  left: 50%;
  padding: 20px;
  position: absolute;
}

/* Center on mobile */
@media only screen and (max-width : 768px){
      .my-nav .navbar-brand {
      padding: 0px;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
    .my-nav .navbar-brand>img {
      height: 100%;
      width: auto;
      padding: 15px; 
    }
}

.nav-signup, .nav-login {
  border-radius: 5px;
  margin-left: 10px;
  width: 90px;
  text-align: center;
}

.nav-signup {
  background-color: #66932C;
  color: #EFEFE8;
  border: 1px solid #66932C;
}

.nav-signup:hover {
  border: 1px solid #66932C;
  color: #66932C;
}

.nav-login {
  border: 1px solid #66932C;
  margin-right: 30px;
}

/*THIS ONE ISN'T WORKING!! */

.nav-login:hover {
  background-color: #66932C;
  color: #2E2F25;
}

/* SALAD HERO IMAGE */

.salad-hero {
    background-image: url("../images/salads.jpg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FORM INPUTS */

form p {
  padding: 5px;
}

































































