/*

MAIN COLORS

green = #66932C
dark beige = #D2D5AA
light beige = #EFEFE8
deep brown = #2E2F25

OTHER COLORS POSSIBLY

whiteish = #F8F8F8
deeper green = #3D581A

FONTS

heading = 'Diavlo'
text = 'Roboto'

*/

@font-face {
    font-family: 'Diavlo';
    src: url('../fonts/Diavlo.otf');
}

/* SETTINGS FOR ALL CONTENT */

body {
  margin-top: 70px;
  background-color: #EFEFE8;
}

body a {
    color: #66932C;
}

.container {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  color: #2E2F25;
  width: 100%;
}

.inner-content {
  padding: 20px;
}

button a:hover {
  text-decoration: none
  /*color: #2E2F25;*/
}

.green-btn, .white-btn {
  margin: 0px 10px 0px 10px;
  text-align: center;
  font-size: 14px;
}

.green-btn {
  background-color: #66932C;
  color: #EFEFE8;
  border: 1px solid #66932C;
}

.green-btn:hover {
  border: 1px solid #66932C;
  color: #66932C;
}

.white-btn {
  border: 1px solid #66932C;
}

/*button:hover, .btn:hover, .btn-default:hover {
  color: #2E2F25;
}*/

/* NAVBAR */

.navbar {
  margin-bottom: 0;
  padding: 10px;
  color: #66932C;
  /*box-shadow: 0px 2px 5px #ABB2B9;*/
}

.navbar .container li a {
  color: #66932C;
}

/* Center Brand */
.my-nav .navbar-brand {
  background: url(../images/lettuce-header.png) center / contain no-repeat;
  width: 500px;
  transform: translateX(-50%);
  left: 50%;
  padding: 20px;
  position: absolute;
}

/* Center on mobile */
@media only screen and (max-width : 768px){
      .my-nav .navbar-brand {
      padding: 0px;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
    .my-nav .navbar-brand>img {
      height: 100%;
      width: auto;
      padding: 15px; 
    }
}

.navbar .container .nav-signup, .navbar .container .nav-login {
/*  border-radius: 40px;*/
  margin: 0px 10px 0px 10px;
  text-align: center;
  font-size: 14px;
}

.navbar .container .nav-signup {
  background-color: #66932C;
  color: #EFEFE8;
  border: 1px solid #66932C;
}

.navbar .container .nav-signup:hover {
  border: 1px solid #66932C;
  color: #66932C;
}

.navbar .container .nav-login {
  border: 1px solid #66932C;
}

.navbar .container .nav-login:hover {
  background-color: #66932C;
  color: #2E2F25;
}

/* NOT WORKING:; */
.navbar .container .nav-login a:hover {
  background-color: #66932C;
  color: #F8F8F8;
}

/* NOT WORKING:; */
.navbar-toggle, .collapsed {
  color: #66932C;
}

/* SALAD HERO IMAGE */

.salad-hero {
    background-image: url("../images/salads.jpg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FORM INPUTS */

form p {
  padding: 5px;
}

/* EVENT CARDS */

.row {
  margin: 0 auto;
}

.event-card {
  margin-bottom: 30px;
  padding: 20px;
  border: .5px solid #66932C;
  border-radius: 3px;
  background-color: #F8F8F8;

  /* horiz-dist, vert-dist, blur-dist, color */
  box-shadow: 3px 3px #DEDEDD;
}

.event-host-pic {
  height: 100px;
  width: 100px;
}

.event-venue {
  font-size: 20px;
  font-variant: small-caps;
}

.event-btn {
  background-color: #66932C;
  border: 1px solid #66932C;
}

.event-btn a {
  color: #F8F8F8;
}

.event-btn:hover {
  border: 1px solid #66932C;
  background-color: #F8F8F8;
  color: #66932C;
}

.event-btn a:hover {
  color: #66932C;
}

/* EVENT EDIT PG */

.delete-btn, .view-all-btn {
  margin-left: 10px;  
}

























































