/*

MAIN COLORS

green = #66932C
dark beige = #D2D5AA
light beige = #EFEFE8
deep brown = #2E2F25

OTHER COLORS POSSIBLY

whiteish = #F8F8F8
deeper green = #3D581A

FONTS

heading = 'Diavlo'
text = 'Roboto'

*/

@font-face {
    font-family: 'Diavlo';
    src: url('../fonts/Diavlo.otf');
}

/* SETTINGS FOR ALL CONTENT */

body {
  background-color: #EFEFE8;
}

body a {
    color: #66932C;
}

.container {
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif; 
  font-size: 16px;
  color: #2E2F25;
  width: 100%;
}

.inner-content {
  padding: 20px;
}

button a:hover {
  text-decoration: none
  /*color: #2E2F25;*/
}

/*button:hover, .btn:hover, .btn-default:hover {
  color: #2E2F25;
}*/

/* NAVBAR */

.navbar {
    margin-bottom: 0;
    padding: 10px;
}

/* Center Brand */
.my-nav .navbar-brand {
  background: url(../images/lettuce-header.png) center / contain no-repeat;
  width: 500px;
  transform: translateX(-50%);
  left: 50%;
  padding: 20px;
  position: absolute;
}

/* Center on mobile */
@media only screen and (max-width : 768px){
      .my-nav .navbar-brand {
      padding: 0px;
      transform: translateX(-50%);
      left: 50%;
      position: absolute;
    }
    .my-nav .navbar-brand>img {
      height: 100%;
      width: auto;
      padding: 15px; 
    }
}

.nav-signup, .nav-login {
  border-radius: 5px;
  margin-left: 10px;
  text-align: center;
}

.nav-signup {
  background-color: #66932C;
  color: #EFEFE8;
  border: 1px solid #66932C;
}

.nav-signup:hover {
  border: 1px solid #66932C;
  color: #66932C;
}

.nav-login {
  border: 1px solid #66932C;
  margin-right: 30px;
}

/*THIS ONE ISN'T WORKING!! */

.nav-login:hover {
  background-color: #66932C;
  color: #2E2F25;
}

/* SALAD HERO IMAGE */

.salad-hero {
    background-image: url("../images/salads.jpg");

    /* Set a specific height */
    height: 300px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* FORM INPUTS */

form p {
  padding: 5px;
}

/* EVENT CARDS */

.event-card {
  margin: 30px;
  padding: 20px;
  border: 3px solid #66932C;
  border-radius: 15px;
  background-color: #D2D5AA;
}

.event-host.pic {
  height: 150px;
}

/* EVENT EDIT PG */

.delete-btn, .view-all-btn {
  margin-left: 10px;  
}

























































