{% extends 'base.html' %}

{% block title %}
Edit Account
{% endblock %}

{% block content %}
    <form method="POST" action="{{url_for('users.edit')}}">
        {{ form.csrf_token }}
        {% for field in form %}
            <p>
                <label for="{{ field.name }}">{{ field.name }}</label>
                {{ field }}
                <span>
                  {% if field.errors %}
                    {% for error in field.errors %}
                      {{ error }}
                    {% endfor %}
                  {% endif %}
                </span>
            </p>
        {% endfor %}
        <button type="submit">Update Info</button>
    </form>
{% endblock %}