{% extends 'base.html' %}

{% block title %}
Index
{% endblock %}

{% block content %}
    <div class="salad-hero"></div>
    <div class="inner-content">
        <h1>Come to upcoming events!</h1>
        <div class="all-events">
            <p>Small batch disrupt tacos, lumbersexual mlkshk whatever knausgaard flannel. Iceland aesthetic portland adaptogen. Drinking vinegar aesthetic four dollar toast tumeric skateboard. Hella scenester 8-bit authentic, hexagon salvia cardigan crucifix meh DIY microdosing pour-over. Fixie polaroid synth activated charcoal mlkshk green juice. Direct trade brooklyn poke activated charcoal vexillologist butcher before they sold out street art iceland helvetica normcore ethical jean shorts you probably haven't heard of them occupy. Bicycle rights ennui roof party lumbersexual, fam marfa unicorn whatever scenester.</p>

            <p>Small batch disrupt tacos, lumbersexual mlkshk whatever knausgaard flannel. Iceland aesthetic portland adaptogen. Drinking vinegar aesthetic four dollar toast tumeric skateboard. Hella scenester 8-bit authentic, hexagon salvia cardigan crucifix meh DIY microdosing pour-over. Fixie polaroid synth activated charcoal mlkshk green juice. Direct trade brooklyn poke activated charcoal vexillologist butcher before they sold out street art iceland helvetica normcore ethical jean shorts you probably haven't heard of them occupy. Bicycle rights ennui roof party lumbersexual, fam marfa unicorn whatever scenester.</p>

            <p>Small batch disrupt tacos, lumbersexual mlkshk whatever knausgaard flannel. Iceland aesthetic portland adaptogen. Drinking vinegar aesthetic four dollar toast tumeric skateboard. Hella scenester 8-bit authentic, hexagon salvia cardigan crucifix meh DIY microdosing pour-over. Fixie polaroid synth activated charcoal mlkshk green juice. Direct trade brooklyn poke activated charcoal vexillologist butcher before they sold out street art iceland helvetica normcore ethical jean shorts you probably haven't heard of them occupy. Bicycle rights ennui roof party lumbersexual, fam marfa unicorn whatever scenester.</p>

            <p>Small batch disrupt tacos, lumbersexual mlkshk whatever knausgaard flannel. Iceland aesthetic portland adaptogen. Drinking vinegar aesthetic four dollar toast tumeric skateboard. Hella scenester 8-bit authentic, hexagon salvia cardigan crucifix meh DIY microdosing pour-over. Fixie polaroid synth activated charcoal mlkshk green juice. Direct trade brooklyn poke activated charcoal vexillologist butcher before they sold out street art iceland helvetica normcore ethical jean shorts you probably haven't heard of them occupy. Bicycle rights ennui roof party lumbersexual, fam marfa unicorn whatever scenester.</p>

            <p>Small batch disrupt tacos, lumbersexual mlkshk whatever knausgaard flannel. Iceland aesthetic portland adaptogen. Drinking vinegar aesthetic four dollar toast tumeric skateboard. Hella scenester 8-bit authentic, hexagon salvia cardigan crucifix meh DIY microdosing pour-over. Fixie polaroid synth activated charcoal mlkshk green juice. Direct trade brooklyn poke activated charcoal vexillologist butcher before they sold out street art iceland helvetica normcore ethical jean shorts you probably haven't heard of them occupy. Bicycle rights ennui roof party lumbersexual, fam marfa unicorn whatever scenester.</p>

            <p>Small batch disrupt tacos, lumbersexual mlkshk whatever knausgaard flannel. Iceland aesthetic portland adaptogen. Drinking vinegar aesthetic four dollar toast tumeric skateboard. Hella scenester 8-bit authentic, hexagon salvia cardigan crucifix meh DIY microdosing pour-over. Fixie polaroid synth activated charcoal mlkshk green juice. Direct trade brooklyn poke activated charcoal vexillologist butcher before they sold out street art iceland helvetica normcore ethical jean shorts you probably haven't heard of them occupy. Bicycle rights ennui roof party lumbersexual, fam marfa unicorn whatever scenester.</p>
            {# {% for event in events %}
            {% endfor %} #}
        </div>
    </div>
{% endblock %}