{% extends 'base.html' %}

{% block content %}
    <div class="row">
      <div class="col-sm-4 col-sm-offset-4">
        <h2 class="join-message">Join Lettuce Be Friends!</h2>
        <form action="{{ url_for('users.signup') }}" method="POST">
          {{ form.csrf_token }}

        <p>
          {% if form.first_name.errors %}
            {% for error in form.first_name.errors %}
              <span class="text-danger">
                {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.first_name(placeholder="First Name", class="form-control") }}
        </p>

        <p>
          {% if form.last_name.errors %}
            {% for error in form.last_name.errors %}
              <span class="text-danger">
                {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.last_name(placeholder="Last Name", class="form-control") }}
        </p>

        <p>
          {% if form.email.errors %}
            {% for error in form.email.errors %}
              <span class="text-danger">
                {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.email(placeholder="E-mail", class="form-control") }}
        </p>

        <p>
          {% if form.password.errors %}
            {% for error in form.password.errors %}
              <span class="text-danger">
                {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.password(placeholder="Password", class="form-control") }}
        </p>

        <p>
          {% if form.phone_number.errors %}
            {% for error in form.phone_number.errors %}
              <span class="text-danger">
                {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.phone_number(placeholder="Phone Number (format: 555-555-5555)", class="form-control") }}
        </p>

        <p>
          {% if form.facebook_url.errors %}
            {% for error in form.facebook_url.errors %}
              <span class="text-danger">
                {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.facebook_url(placeholder="Facebook URL", class="form-control") }}
        </p>

        <p>
          {% if form.profile_img_url.errors %}
            {% for error in form.profile_img_url.errors %}
              <span class="text-danger">
                {{ error }}
              </span>
            {% endfor %}
          {% endif %}
          {{ form.profile_img_url(placeholder="Profile Image URL", class="form-control") }}
        </p>

          <button type="submit" class="btn btn-default nav-signup">Sign me up!</button>
        </form>

      </div>
    </div>
{% endblock %}