{% extends 'base.html' %}

{% block content %}
    <div class="salad-hero"></div>
    <div class="inner-content">
        <h1>Update Your Events</h1>

        <div class="row">
            {% for event in events %}
                <div class="col-sm-3 col-xs-6">
                    <div class="event-card">
                        <div class="event-host">
                            <img src="{{ event.host.profile_img_url }}" alt="Profile Picture" class="img-responsive event-host-pic">
                            <h4>{{ event.host.first_name }}</h4>
                        </div>
                        <h3 class="event-title">{{ event.date.strftime('%d/%m at %H:%M') }}</h3>
                        <h4 class="event-venue">{{ event.location_name }}</h4>
                        <h5 class="event-address"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{ event.location_address }}</h5>
                        <button class="btn btn-default white-btn"><a href="{{url_for('events.edit', u_id=host.id, e_id=event.id)}}">Edit Event</a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}