{% extends 'base.html' %}

{% block content %}
    <div class="salad-hero"></div>
    <div class="inner-content">
        <h1>View Your Events</h1>
        <br>
        <div class="row">
            {% for event in events %}
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="event-card">
                        <div class="row">
                            <div class="event-host">
                                <img src="{{ host.profile_img_url }}" alt="Profile Picture" class="img-responsive event-host-pic">
                                <p>{{ host.first_name }}</p>
                            </div>
                            <h4 class="event-date">{{ event.date.strftime('%B %d, 2017') }}</h4>
                            <h3 class="event-time">{{ event.date.strftime('%H:%M %p') }}</h3>
                        </div>
                        <br>
                        <p class="event-venue">{{ event.location_name }}</p>
                        <p class="event-address"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{ event.location_address }}</p>
                        <button class="btn btn-default white-btn"><a href="{{url_for('events.edit', u_id=host.id, e_id=event.id)}}">Edit Event</a></button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}