{% extends 'base.html' %}

{% block content %}
<div class="inner-content">
    <div class="col-sm-4 col-sm-offset-4 event-card">
        <div class="event-host">
            <img src="{{ event.host.profile_img_url }}" alt="Profile Picture" class="img-responsive event-host-pic">
            <h4>{{ event.host.first_name }}</h4>
        </div>
        <h3 class="event-title">{{ event.date.strftime('%d/%m %H:%M') }}</h3>
        <h4 class="event-venue">{{ event.location_name }}</h4>
        <h5 class="event-address"><span class="glyphicon glyphicon-map-marker"></span>&nbsp;{{ event.location_address }}</h5>
        <button class="btn btn-default"><a href="{{url_for('events.show', event=event, u_id=host.id, e_id=event.id)}}">Attend</a></button>
    </div>
</div>

{% endblock %}